doctype html
html(lang="en")
  head
    title=filepath
    meta(charset="utf-8")

    link(rel="stylesheet", href="/code-mirror/lib/codemirror.css")
    link(rel="stylesheet", href="/code-mirror/addon/display/fullscreen.css")
    link(rel="stylesheet", href="/code-mirror/theme/night.css")

    link(rel="stylesheet", href="/public/style.css")

    script(src="/code-mirror/lib/codemirror.js")
    script(src="/code-mirror/mode/meta.js")
    <script src="/code-mirror/addon/mode/loadmode.js"></script>
    script(src="/code-mirror/addon/display/fullscreen.js")
    script(src="/code-mirror/mode/meta.js")
    script(src="/public/jquery-2.1.3.min.js")

    script.
      CodeMirror.modeURL = "/code-mirror/mode/%N/%N.js"

      $(document.body).ready(function(){
        codeMirror = CodeMirror(document.getElementById('firepad'), {lineWrapping: true, fullScreen:true, theme:"night", value: $("#fileContents").val()});
        var mode = CodeMirror.findModeByFileName("#{filepath}");
        if (mode){
          CodeMirror.autoLoadMode(codeMirror, mode.mode);
          codeMirror.setOption("mode", mode.mime);
        }       


        $("#save").click(function(){
          var result = $.post(document.location.href, {fileData:codeMirror.getValue()}).
          done(function(data){
          //TODO mark as saved in client somehow
          })
        })

      })
  body
    h1 Jade - node template engine
    button#save="Save"
    #container.col
    textarea#fileContents(style="display:none")=file
    div#firepad(style="margin:8px")
