doctype html
html(lang="en")
  head
    title="CodeMirror: Full Screen Editing"
    meta(charset="utf-8")

    link(rel="stylesheet", href="/code-mirror/lib/codemirror.css")
    link(rel="stylesheet", href="/code-mirror/addon/display/fullscreen.css")
    link(rel="stylesheet", href="/code-mirror/theme/night.css")

    script(src="/code-mirror/lib/codeMirror.js")
    script(src="/code-mirror/mode/javascript/javascript.js")
    script(src="/code-mirror/addon/display/fullscreen.js")
    script(src="https://code.jquery.com/jquery-2.1.3.min.js")

    script.
      $(document.body).ready(function(){
        var codeMirror = CodeMirror(document.getElementById('firepad'), { lineWrapping: true, fullScreen:true, mode:"javascript", theme:"night"});
      })

  body
    h1 Jade - node template engine
    #container.col
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
      p.
        Jade is a terse and simple templating language with a
        strong focus on performance and powerful features.
    div#firepad
